/.project
/Untitled0.ipynb
/Untitled1.ipynb
/Untitled2.ipynb
*.pyc
/.directory
/Sequential_clearance.wpr
/Sequential_clearance.wpu
/sequential_clearance.wpr
/sequential_clearance.wpu
*.com_PDF_word_v_framemaker_comparison_guide_ue.pdf
xkcd.py
*_rc.py
/C:\nppdf32Log\debuglog.txt
