/.project
/Untitled0.ipynb
/Untitled1.ipynb
/Untitled2.ipynb
*.pyc
/.directory
/Sequential_clearance.wpr
/Sequential_clearance.wpu
/sequential_clearance.wpr
/sequential_clearance.wpu
*_rc.py
xkcd.py
/C:\nppdf32Log\debuglog.txt

