/.project
/DataDemo.pyc
/Untitled0.ipynb
/Untitled1.ipynb
/Untitled2.ipynb
/matplotlibwidget.pyc
/mplwidget.pyc
/mplwidget2.pyc
/qwt_compass.pyc
/qwt_knob.pyc
/qwt_plot.pyc
/qwt_thermo.pyc
/qwtwidget.pyc
/sequential_clearance_backend.pyc
/sequential_clearance_resources2_rc.pyc
/sequential_clearance_resources_rc.pyc
/ui_sequential_clearance_mainwindow.pyc
